/* --------------------------------------------------------------------------------------------- */
/*	Eksell Editor Styles — Block Editor
/* --------------------------------------------------------------------------------------------- */

:root {
	/* Typography */
	--eksell-body-font: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
	--eksell-headings-font: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
	/* Colors */
	--eksell-accent-color: #d23c50;
	--eksell-primary-color: #1e2d32;
	--eksell-secondary-color: #707376;
	--eksell-border-color: #d6d5d4;
	--eksell-light-background-color: #f3efe9;
	--eksell-background-color: #fff;
	/* Layout */
	--eksell-inner-width-thin: 64rem;
	--eksell-inner-width-small: 76rem;
	--eksell-inner-width-max: 205.2rem;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
}

.editor-styles-wrapper {
	color: var( --eksell-primary-color );
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper * {
	letter-spacing: -0.02em;
}

.editor-styles-wrapper > * {
	font-family: var( --eksell-body-font );
	font-size: 1.7rem;
	line-height: 1.5;
}

.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	color: var( --eksell-secondary-color );
	font-family: inherit;
	font-size: inherit;
}

/* Contain Margins --------------------------- */

:root *[class*="_inner-container"] > *:first-child,
:root fieldset > *:first-child,
:root form > *:first-child,
:root .wp-block-column > *:first-child,
:root .wp-block-media-text__content > *:first-child {
	margin-top: 0;
}

:root *[class*="_inner-container"] > *:last-child,
:root fieldset > *:last-child,
:root form > *:last-child,
:root .wp-block-column > *:last-child,
:root .wp-block-media-text__content > *:last-child {
	margin-bottom: 0;
}

/* Structure --------------------------------- */

.wp-block {
	max-width: var( --eksell-inner-width-thin );
}

.wp-block .wp-block,
.editor-styles-wrapper *[data-align="full"] .wp-block-group .wp-block {
	max-width: 100%;
}

.editor-styles-wrapper *[data-align=right] .editor-block-list__block-edit,
.editor-styles-wrapper *[data-align=left] .editor-block-list__block-edit,
.editor-styles-wrapper *[data-align=right] .is-block-content,
.editor-styles-wrapper *[data-align=left] .is-block-content {
	margin-bottom: 1em;
	max-width: 50%;
}

.editor-styles-wrapper *[data-align="center"],
.editor-styles-wrapper *[data-align="wide"],
.editor-styles-wrapper *[data-align="full"] {
	margin-bottom: 3.2rem;
	margin-top: 3.2rem;
}

.editor-styles-wrapper *[data-align="wide"] {
    max-width: var( --eksell-inner-width-max );
}

.editor-styles-wrapper *[data-align="full"] {
    max-width: none;
}

.editor-styles-wrapper *[data-align="wide"] [data-type="core/group"]:not([data-align="wide"]):not([data-align="full"]),
.editor-styles-wrapper *[data-align="full"] [data-type="core/group"]:not([data-align="wide"]):not([data-align="full"]) {
	max-width: var( --eksell-inner-width-thin );
}

.editor-styles-wrapper *[data-align="wide"] > [data-type="core/group"] {
	max-width: var( --eksell-inner-width-max ) !important;
}

.editor-styles-wrapper *[data-align="full"] > [data-type="core/group"] {
	max-width: none !important;
}

/* Placeholders ------------------------------ */

.editor-post-title__block .editor-post-title__input::placeholder,
.components-modal__frame input::placeholder, 
.components-modal__frame textarea::placeholder, 
.components-popover input::placeholder, 
.components-popover textarea::placeholder, 
.edit-post-header input::placeholder, 
.edit-post-header textarea::placeholder, 
.edit-post-sidebar input::placeholder, 
.edit-post-sidebar textarea::placeholder, 
.edit-post-text-editor input::placeholder, 
.edit-post-text-editor textarea::placeholder, 
.edit-post-visual-editor input::placeholder, 
.edit-post-visual-editor textarea::placeholder, 
.editor-post-publish-panel input::placeholder, 
.editor-post-publish-panel textarea::placeholder {
	color: var( --eksell-secondary-color );
}

/* Colors ------------------------------------ */

/* CUSTOM COLORS */

:root .has-accent-color { color: var( --eksell-primary-color ); }
:root .has-primary-color { color: var( --eksell-secondary-color ); }
:root .has-secondary-color { color: var( --eksell-accent-color ); }
:root .has-border-color { color: var( --eksell-border-color ); }
:root .has-light-background-color { color: var( --eksell-light-background-color ); }
:root .has-background-color { color: var( --eksell-background-color ); }

:root .has-accent-background-color { background-color: var( --eksell-primary-color ); }
:root .has-primary-background-color { background-color: var( --eksell-secondary-color ); }
:root .has-secondary-background-color { background-color: var( --eksell-accent-color ); }
:root .has-border-background-color { background-color: var( --eksell-border-color ); }
:root .has-light-background-background-color { background-color: var( --eksell-light-background-color ); }
:root .has-background-background-color { background-color: var( --eksell-background-color ); }

/* GENERAL COLORS */

:root .has-black-background-color { background-color: #000; }
:root .has-white-background-color { background-color: var( --eksell-background-color ); }

:root .has-black-color { color: #000; }
:root .has-white-color { color: var( --eksell-background-color ); }

/* Typography -------------------------------- */

.editor-styles-wrapper .editor-block-list__layout a,
.editor-styles-wrapper .block-editor-block-list__layout a {
	color: var( --eksell-accent-color );
	text-decoration: underline;
}

.editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input:focus {
	color: inherit;
}

.wp-block.editor-post-title:before {
	color: var( --eksell-accent-color );
	content: "";
	display: block;
	height: 1rem;
	image-rendering: pixelated;
	width: 6.6rem;
	background-image: linear-gradient( -45deg, currentColor 25%, transparent 25%, transparent 50%, currentColor 50%, currentColor 75%, transparent 75%, transparent );
	background-position: 0;
	background-size: .4rem .4rem;
}

:root .wp-block h1, 
:root .wp-block h2,
:root .wp-block h3,
:root .wp-block h4,
:root .wp-block h5,
:root .wp-block h6 {
	font-family: var( --eksell-headings-font );
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	font-weight: 700;
	line-height: 1.25;
	margin: 4.8rem auto 3.2rem;
}

.editor-post-title__block .editor-post-title__input,
:root .wp-block h1 { font-size: 3.2rem; }
:root .wp-block h2 { font-size: 2.8rem; }
:root .wp-block h3 { font-size: 2.4rem; }
:root .wp-block h4 { font-size: 2.1rem; }
:root .wp-block h5 { font-size: 1.9rem; }
:root .wp-block h6 { font-size: 1em; }

:root .editor-styles-wrapper p,
:root .editor-styles-wrapper p.wp-block-paragraph {
	line-height: 1.5;
	margin: 1em auto;
}

/* Monospace --------------------------------- */

.editor-styles-wrapper code, 
.editor-styles-wrapper kbd, 
.editor-styles-wrapper pre, 
.editor-styles-wrapper samp {
	font-family: monospace;
}

.editor-styles-wrapper kbd,
.editor-styles-wrapper pre,
.editor-styles-wrapper samp {
	border-radius: 0;
	font-size: .75em;
	padding: .4rem .6rem;
}

.editor-styles-wrapper pre {
	border-radius: 0;
	line-height: 1.5;
	padding: 1em;
}

/* Custom Text Sizes ------------------------- */

.editor-styles-wrapper p.has-large-font-size.editor-rich-text__tinymce, 
.editor-styles-wrapper p.has-large-font-size.editor-rich-text__tinymce.mce-content-body,
.editor-styles-wrapper p.has-larger-font-size.editor-rich-text__tinymce, 
.editor-styles-wrapper p.has-larger-font-size.editor-rich-text__tinymce.mce-content-body {
	line-height: 1.4;
}

.editor-styles-wrapper .has-small-font-size { font-size: .842em; }
.editor-styles-wrapper .has-regular-font-size { font-size: 1em; }
.editor-styles-wrapper .has-medium-font-size { font-size: 1.1em; }
.editor-styles-wrapper .has-large-font-size { font-size: 1.25em; }
.editor-styles-wrapper .has-larger-font-size { font-size: 1.5em; }

/* Post Media -------------------------------- */

.editor-styles-wrapper figure {
	margin: 0 auto;
}

.editor-styles-wrapper .alignleft,
.editor-styles-wrapper .alignright
.editor-styles-wrapper *[data-align=right],
.editor-styles-wrapper *[data-align=left] {
	margin-bottom: 1.2em;
}

.editor-styles-wrapper .wp-caption .alignleft,
.editor-styles-wrapper .wp-caption .alignright {
	margin-bottom: 0;
}

.editor-styles-wrapper .alignleft { margin-right: 1em; }
.editor-styles-wrapper .alignright { margin-left: 1em; }

.editor-styles-wrapper figcaption {
	color: inherit;
	font-size: 1.4rem;
	font-weight: 400;
	text-align: left;
}

.editor-styles-wrapper *[data-align="full"] figcaption {
	padding: 0 3.2rem;
}

/* Forms ------------------------------------- */

.editor-styles-wrapper fieldset {
	border: .2rem solid var( --eksell-border-color );
	padding: 2rem;
}

.editor-styles-wrapper legend {
	font-size: .85em;
	font-weight: 700;
	padding: 0 1rem;
}

.editor-styles-wrapper label {
	font-size: 1.5rem;
	font-weight: 400;
}

/* Block: _Shared Lists ---------------------- */

.editor-styles-wrapper ul.wp-block-archives,
.editor-styles-wrapper ul.wp-block-categories,
.editor-styles-wrapper ul.wp-block-latest-posts {
	list-style: none;
	margin: 4rem auto;
	padding-left: 0;
}

.editor-styles-wrapper ul.wp-block-categories__list {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
}

.editor-styles-wrapper ul.wp-block-archives li,
.editor-styles-wrapper ul.wp-block-categories li,
.editor-styles-wrapper ul.wp-block-latest-posts li {
	line-height: 1.2;
}

.editor-styles-wrapper .wp-block-archives li > a,
.editor-styles-wrapper .wp-block-categories li > a,
.editor-styles-wrapper .wp-block-latest-posts li > a {
	font-size: 1.25em;
	font-weight: 700;
	text-decoration: none;
}

.editor-styles-wrapper .wp-block-archives.aligncenter,
.editor-styles-wrapper .wp-block-categories.aligncenter {
	text-align: center;
}

/* Block: Table ------------------------------ */

.editor-styles-wrapper table.wp-block-table {
	border-color: var( --eksell-border-color );
	border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: 0.85em;
    margin-bottom: 1.1em;
    width: 100%;
}

.editor-styles-wrapper table.wp-block-table caption,
.editor-styles-wrapper table.wp-block-table th,
.editor-styles-wrapper table.wp-block-table td {
	border-color: inherit;
	color: inherit;
}

.editor-styles-wrapper .wp-block-table caption {
	padding: 0;
	text-align: center;
}

.editor-styles-wrapper .wp-block-table th,
.editor-styles-wrapper .wp-block-table td {
	line-height: 1.4;
	margin: 0;
	overflow: visible;
	padding: 0;
}

.editor-styles-wrapper .wp-block-table .wp-block-table__cell-content {
	padding: 1.2rem;
}

.editor-styles-wrapper .wp-block-table thead {
	vertical-align: bottom;
	white-space: nowrap;
}

.editor-styles-wrapper .wp-block-table th {
	font-weight: 700;
}

.editor-styles-wrapper .wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background: var( --eksell-light-background-color );
}

/* Block: Separator -------------------------- */

.editor-styles-wrapper hr.wp-block-separator {
	border: none;
	border-top: .1rem solid currentColor;
	color: var( --eksell-border-color );
	margin: 2em auto;
	width: 100%;
}

.editor-styles-wrapper .wp-block-separator.is-style-dots {
	border: none;
}

.editor-styles-wrapper .wp-block-separator.is-style-dots:before {
	color: inherit;
}

.editor-styles-wrapper .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	width: 100%;
}

.editor-styles-wrapper .wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
	height: auto;
}

.editor-styles-wrapper .wp-block-separator:not(.is-style-wide):not(.is-style-dots),
.editor-styles-wrapper .wp-block-separator.is-style-wide {
	max-width: none;
}

/* Block: Quote ------------------------------ */

.editor-styles-wrapper blockquote {
	margin: 0 auto;
}

.editor-styles-wrapper blockquote p:last-of-type {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-quote {
	border-color: var( --eksell-accent-color ) !important;
	border-style: solid;
	border-width: 0 0 0 .2rem;
	color: inherit;
	margin: 2rem auto;
	padding: 0 0 0 2rem;
}

.editor-styles-wrapper .wp-block-quote.has-text-align-center, 
.editor-styles-wrapper .wp-block-quote[style*="text-align:center"], 
.editor-styles-wrapper .wp-block-quote[style*="text-align: center"] {
	border-width: 0;
	padding: 0;
}

.editor-styles-wrapper .wp-block-quote.has-text-align-right, 
.editor-styles-wrapper .wp-block-quote[style*="text-align:right"], 
.editor-styles-wrapper .wp-block-quote[style*="text-align: right"] {
	border-width: 0 .2rem 0 0;
	padding: 0 2rem 0 0;
}

.editor-styles-wrapper cite,
.editor-styles-wrapper .wp-block-quote__citation, 
.editor-styles-wrapper .wp-block-quote cite, 
.editor-styles-wrapper .wp-block-quote footer {
	color: var( --eksell-accent-color );
	font-size: 1.4rem;
	font-weight: 700;
}

.editor-styles-wrapper .wp-block-quote p {
	color: inherit;
	font-weight: 400;
	margin: 0 0 2rem 0;
}

/* STYLE: LARGE */

.editor-styles-wrapper .wp-block-quote.is-style-large {
	border: none;
	padding: 0;
}

.editor-styles-wrapper .wp-block-quote.is-style-large p {
	font-size: 1.75em;
	font-style: normal;
	font-weight: 700;
	line-height: 1.25;
}

/* Block: Cover ------------------------------ */

.editor-styles-wrapper .wp-block-cover-image .wp-block-cover__inner-container, 
.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
	margin: 0 auto;
	max-width: var( --eksell-inner-width-max );
	width: calc( 100% - 5rem );
}

.editor-styles-wrapper .wp-block-cover-image .wp-block,
.editor-styles-wrapper .wp-block-cover .wp-block,
.wp-block-cover-image .wp-block-cover-image-text, 
.wp-block-cover-image .wp-block-cover-text, 
.wp-block-cover-image h2, 
.wp-block-cover .wp-block-cover-image-text, 
.wp-block-cover .wp-block-cover-text, 
.wp-block-cover h2 {
	max-width: 100%;
	padding: 0;
}

.editor-styles-wrapper .wp-block-cover {
	min-height: 75vh;
}

.editor-styles-wrapper .wp-block-cover p {
	font-weight: inherit;
}

.editor-styles-wrapper .wp-block-cover a {
	color: inherit;
}

/* Block: Media & Text ----------------------- */

.wp-block-media-text__content > .wp-block-group {
	margin: 0;
}

/* Block: Paragraph -------------------------- */
/* Block: Pullquote -------------------------- */

.editor-styles-wrapper .wp-block-pullquote {
	border: none;
	color: inherit;
	padding: 0;
}

.editor-styles-wrapper .wp-block-pullquote,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote {
	text-align: center;
}

.editor-styles-wrapper .wp-block-pullquote.alignleft,
.editor-styles-wrapper .wp-block-pullquote.alignright {
	max-width: 50%;
}

.editor-styles-wrapper * .wp-block-pullquote p {
	font-weight: 700;
	line-height: 1.25;
	margin-bottom: 2rem;
}

.editor-styles-wrapper * .wp-block-pullquote p,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote > .block-editor-rich-text p,
.editor-styles-wrapper *[data-type="core/pullquote"][data-align=right] .editor-rich-text p,
.editor-styles-wrapper *[data-type="core/pullquote"][data-align=left] .editor-rich-text p {
	font-size: 1.75em;
}

.editor-styles-wrapper .wp-block-pullquote__citation, 
.editor-styles-wrapper .wp-block-pullquote cite, 
.editor-styles-wrapper .wp-block-pullquote footer {
	color: var( --eksell-accent-color );
	font-size: 1.4rem;
	font-weight: 700;
	margin: 1em 0 0;
	text-transform: none;
}

/* STYLE: SOLID COLOR */

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.has-background {
	padding: 3.2rem 2.4rem;
}

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 100%;
}

/* Block: Verse ------------------------------ */

.editor-styles-wrapper .wp-block-verse pre, 
.editor-styles-wrapper pre.wp-block-verse {
	font-size: 0.75em;
}

/* Block: Button ----------------------------- */

.wp-block-button__link,
.wp-block-file__button {
	background: var( --eksell-accent-color );
	border-radius: 3px;
	color: var( --eksell-background-color );
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1;
	padding: 1.175em 1.75em;
}

.wp-block-button__link.mce-content-body {
	line-height: 1.1;
}

/* BUTTON STYLE: OUTLINE */

.wp-block-button.is-style-outline,
.wp-block-button__link.is-style-outline {
	color: var( --eksell-accent-color );
}

.is-style-outline .wp-block-button__link,
.wp-block-button__link.is-style-outline {
	background: none;
	border: .2rem solid currentColor;
	color: inherit;
	padding: calc( 1.175em - .2rem ) calc( 1.75em - .2rem );
}

/* BUTTON STYLE: SQUARED */

.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

/* Block: Buttons ---------------------------- */

.editor-styles-wrapper .wp-block[data-type="core/buttons"] .wp-block[data-type="core/button"] {
	margin-bottom: 0;
	margin-top: 0;
}

/* Block: Latest Comments -------------------- */

.editor-styles-wrapper .wp-block-latest-comments li.wp-block-latest-comments__comment {
	font-size: inherit;
	margin-bottom: 2rem;
}

.editor-styles-wrapper .wp-block-latest-comments li.wp-block-latest-comments__comment:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-latest-comments__comment-meta,
.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt {
	margin-left: 0 !important;
}

.editor-styles-wrapper .wp-block-latest-comments__comment-meta {
	font-weight: 700;
}

.editor-styles-wrapper .wp-block-latest-comments__comment-meta a {
	text-decoration: none;
}

.editor-styles-wrapper .wp-block-latest-comments time {
	display: block;
	font-size: 1em;
	font-weight: 400;
	margin-top: .5rem;
}

/* HAS AVATAR */

.editor-styles-wrapper .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment {
	display: flex;
}

.editor-styles-wrapper .wp-block-latest-comments.has-avatars img.avatar {
	border-radius: 0;
	flex-shrink: 0;
	height: 60px;
	margin-right: 1.5rem;
	width: 60px;
}

/* HAS EXCERPT */

.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt {
	font-size: .9em;
	margin-top: 1rem;
}

.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt p:first-child { margin-top: 0; }
.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt p:last-child { margin-bottom: 0; }


/* Block: Latest Posts ----------------------- */

/* STYLE: GRID */

.editor-styles-wrapper .wp-block-latest-posts.is-grid li {
	border-color: var( --eksell-border-color );
}

.editor-styles-wrapper ul.wp-block-latest-posts.is-grid li {
	border-style: solid;
	border-width: .1rem 0 0;
	padding-top: 1.2rem;
}

.editor-styles-wrapper ul.wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: inherit;
    display: block;
	font-size: 1em;
	margin: .8rem 0 0;
}

.editor-styles-wrapper .wp-block-latest-posts__post-excerpt {
	font-size: .95em;
	line-height: 1.4;
	margin-top: 1.5rem;
}

/* Block: Embed ------------------------------ */

.editor-styles-wrapper .wp-block-embed {
	margin-bottom: 3rem;
	margin-top: 3rem;
}

.editor-styles-wrapper *[data-type*="core-embed"][data-align=center] * {
	margin-left: auto;
	margin-right: auto;
}

/* Block: File ------------------------------- */

.editor-styles-wrapper .wp-block-file {
	background: none;
	padding: 0;
}

.editor-styles-wrapper .wp-block-file__content-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.editor-styles-wrapper .wp-block-file .wp-block-file__textlink {
	color: var( --eksell-accent-color );
	font-weight: 700;
	text-decoration: none;
}

.editor-styles-wrapper .wp-block-file .wp-block-file__button {
	font-size: 1.4rem;
	padding: 1em 1.25em;
}

/* Block: Image ------------------------------ */

.editor-styles-wrapper .wp-block-image {
	margin-bottom: 3.2rem;
	margin-top: 3.2rem;
}

.editor-styles-wrapper .wp-block-image figcaption {
	margin-bottom: 0;
}

/* Block: Group ------------------------------ */

:root .wp-block-group.has-background {
	padding: 3.2rem;
}

/* Block: Paragraph -------------------------- */


/* -------------------------------------------------------------------------------- */
/*	X.	Media Queries
/* -------------------------------------------------------------------------------- */


@media ( min-width: 700px ) {

	/* Structure ----------------------------- */

	.editor-styles-wrapper > * {
		font-size: 1.8rem;
	}

	.editor-styles-wrapper *[data-align="center"] {
		margin-bottom: 4.8rem;
		margin-top: 4.8rem;
	}

	.editor-styles-wrapper *[data-align="wide"],
	.editor-styles-wrapper *[data-align="full"] {
		margin-bottom: 6.4rem;
		margin-top: 6.4rem;
	}

	/* Typography ---------------------------- */

	.editor-post-title__block .editor-post-title__input,
	:root .wp-block h1 { font-size: 4.8rem; }
	:root .wp-block h2 { font-size: 4.0rem; }
	:root .wp-block h3 { font-size: 3.2rem; }
	:root .wp-block h4 { font-size: 2.4rem; }
	:root .wp-block h5 { font-size: 2.1rem; }

	/* Forms --------------------------------- */

	.editor-styles-wrapper fieldset {
		padding: 3.2rem;
	}

	.editor-styles-wrapper legend {
		padding: 0 1.6rem;
	}

	/* Blocks -------------------------------- */

	/* BLOCK: COLUMNS */

	.wp-block-columns[data-align=full] {
		padding: 0 2.4rem;
	}

	.wp-block-column {
		font-size: 1.6rem;
    }

	:root .wp-block-column h1, 
	:root .wp-block-column h2, 
	:root .wp-block-column h3, 
	:root .wp-block-column h4, 
	:root .wp-block-column h5, 
	:root .wp-block-column h6 {
		margin: 4rem auto 2.4rem
	}

	/* BLOCK: COVER */

	.editor-styles-wrapper .wp-block-cover-image .wp-block-cover__inner-container, 
	.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
		width: calc( 100% - 8rem );
	}

	/* BLOCK: GROUP */

	:root .wp-block-group.has-background {
		padding: 4.8rem;
	}

	/* BLOCK: IMAGE */

	.editor-styles-wrapper .wp-block-image {
		margin-bottom: 4rem;
		margin-top: 4rem;
	}

	/* BLOCK: PULLQUOTE */

	.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.has-background {
		padding: 4rem 3rem;
	}

	.editor-styles-wrapper *[data-type="core/pullquote"][data-align=wide] blockquote > .block-editor-rich-text p, 
	.editor-styles-wrapper *[data-type="core/pullquote"][data-align=full] blockquote > .block-editor-rich-text p {
		font-size: 2.5em;
	}

}

@media ( min-width: 1000px ) {

	/* Blocks -------------------------------- */

	/* BLOCK: COLUMNS */

	.wp-block-column {
		font-size: 1.8rem;
    }

	/* BLOCK: COVER */

	.editor-styles-wrapper .wp-block-cover-image .wp-block-cover__inner-container, 
	.editor-styles-wrapper .wp-block-cover .wp-block-cover__inner-container {
		width: calc( 100% - 10rem );
	}

}