/* ---------------------------------------------------------------------------------------------

	Eksell Editor Styles — Block Editor

------------------------------------------------------------------------------------------------ */


/* --------------------------------------------------------------------------------------------- */
/*	Setup
/* --------------------------------------------------------------------------------------------- */

:root {
	/* Typography */
	--eksell-body-font: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
	--eksell-headings-font: 'Public Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
	--eksell-headings-weight: 700;
	/* Colors */
	--eksell-accent-color: #d23c50;
	--eksell-primary-color: #1e2d32;
	--eksell-secondary-color: #707376;
	--eksell-border-color: #d6d5d4;
	--eksell-light-background-color: #f3efe9;
	--eksell-background-color: #fff;
	/* Layout */
	--eksell-inner-width-thin: 65.2rem;
	--eksell-inner-width-small: 76rem;
	--eksell-inner-width-medium: 104rem;
	--eksell-inner-width-max: 205.2rem;
	--eksell-inner-gutter: 4.8rem;
	--eksell-inner-gutter-compensated: 2.8rem; /* Removes 20px (10px padding) added by Core to the top block editor ancestor */
}

html {
	font-size: 62.5%; /* 1rem = 10px */
}

.editor-styles-wrapper {
	color: var( --eksell-primary-color );
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.editor-styles-wrapper * {
	letter-spacing: -0.01em;
}

.editor-styles-wrapper > * {
	font-family: var( --eksell-body-font );
	font-size: 1.7rem;
	line-height: 1.5;
}

:root .block-editor-button-block-appender {
	color: currentColor;
	box-shadow: inset 0 0 0 .1rem currentcolor;
}

.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	color: var( --eksell-secondary-color );
	font-family: inherit;
	font-size: inherit;
}

/* Contain Margins --------------------------- */

:root *[class*="_inner-container"] > *:first-child,
:root fieldset > *:first-child,
:root form > *:first-child,
:root .wp-block-column > *:first-child,
:root .wp-block-column > .wp-block:first-child > *:first-child,
:root .wp-block-media-text__content > *:first-child {
	margin-top: 0;
}

:root *[class*="_inner-container"] > *:last-child,
:root fieldset > *:last-child,
:root form > *:last-child,
:root .wp-block-column > *:last-child,
:root .wp-block-column > .wp-block:last-child > *:last-child,
:root .wp-block-media-text__content > *:last-child {
	margin-bottom: 0;
}

/* Placeholders ------------------------------ */

.editor-post-title__block .editor-post-title__input::placeholder,
.components-modal__frame input::placeholder, 
.components-modal__frame textarea::placeholder, 
.components-popover input::placeholder, 
.components-popover textarea::placeholder, 
.edit-post-header input::placeholder, 
.edit-post-header textarea::placeholder, 
.edit-post-sidebar input::placeholder, 
.edit-post-sidebar textarea::placeholder, 
.edit-post-text-editor input::placeholder, 
.edit-post-text-editor textarea::placeholder, 
.edit-post-visual-editor input::placeholder, 
.edit-post-visual-editor textarea::placeholder, 
.editor-post-publish-panel input::placeholder, 
.editor-post-publish-panel textarea::placeholder {
	color: var( --eksell-secondary-color );
}


/* --------------------------------------------------------------------------------------------- */
/*	Structure
/* --------------------------------------------------------------------------------------------- */


.wp-block {
	max-width: var( --eksell-inner-width-thin );
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > *[data-align="full"] {
	margin-left: -1rem;
	margin-right: -1rem;
}

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > *:not([data-align="full"]) {
	margin-left: auto;
	margin-right: auto;
	width: calc( 100% - var( --eksell-inner-gutter-compensated ) );
}

.wp-block .wp-block {
	max-width: 100%;
}

.editor-styles-wrapper .wp-block[data-align="right"],
.editor-styles-wrapper .wp-block[data-align="left"] {
	max-width: 112.8rem;
}

:root .editor-styles-wrapper .wp-block[data-align="right"] > *,
:root .editor-styles-wrapper .wp-block[data-align="left"] > *,
:root .editor-styles-wrapper .alignleft,
:root .editor-styles-wrapper .alignright {
	max-width: min( 50%, 32rem );
	position: relative;
	z-index: 1;
}

:root .editor-styles-wrapper .wp-block[data-align="left"] > *,
:root .editor-styles-wrapper .alignleft {
	margin: .3rem 2.4rem 2.4rem 0;
}

:root .editor-styles-wrapper .wp-block[data-align="right"] > *,
:root .editor-styles-wrapper .alignright {
	margin: .3rem 0 2.4rem 2.4rem;
}

.editor-styles-wrapper *[data-align="center"],
.editor-styles-wrapper *[data-align="wide"],
.editor-styles-wrapper *[data-align="full"] {
	margin: 3.2rem auto;
}

.editor-styles-wrapper *[data-align="wide"] {
    max-width: var( --eksell-inner-width-max );
}

.editor-styles-wrapper *[data-align="full"] {
    max-width: none;
}

.editor-styles-wrapper *[data-align="full"] + *[data-align="full"] {
	margin-top: -3.2rem;
}

.editor-styles-wrapper *[data-align="full"] > [data-type="core/group"] {
	max-width: none !important;
}

/* LAYOUT HELPERS */

:root .mw-thin { max-width: var( --eksell-inner-width-thin ) !important; }
:root .mw-small { max-width: var( --eksell-inner-width-small ) !important; }
:root .mw-medium { max-width: var( --eksell-inner-width-medium ) !important; }
:root .mw-max { max-width: var( --eksell-inner-width-max ) !important; }

.center,
.center-h {
	margin-left: auto;
	margin-right: auto;
}

.center,
.center-v {
	margin-bottom: auto;
	margin-top: auto;
}


/* --------------------------------------------------------------------------------------------- */
/*	Colors
/* --------------------------------------------------------------------------------------------- */


/* CUSTOM COLORS */

:root .has-accent-color { color: var( --eksell-primary-color ); }
:root .has-primary-color { color: var( --eksell-secondary-color ); }
:root .has-secondary-color { color: var( --eksell-accent-color ); }
:root .has-border-color { color: var( --eksell-border-color ); }
:root .has-light-background-color { color: var( --eksell-light-background-color ); }
:root .has-background-color { color: var( --eksell-background-color ); }

:root .has-accent-background-color { background-color: var( --eksell-primary-color ); }
:root .has-primary-background-color { background-color: var( --eksell-secondary-color ); }
:root .has-secondary-background-color { background-color: var( --eksell-accent-color ); }
:root .has-border-background-color { background-color: var( --eksell-border-color ); }
:root .has-light-background-background-color { background-color: var( --eksell-light-background-color ); }
:root .has-background-background-color { background-color: var( --eksell-background-color ); }

/* GENERAL COLORS */

:root .has-black-background-color { background-color: #000; }
:root .has-white-background-color { background-color: var( --eksell-background-color ); }

:root .has-black-color { color: #000; }
:root .has-white-color { color: var( --eksell-background-color ); }

:root .editor-styles-wrapper .has-text-color a { color: inherit; }


/* --------------------------------------------------------------------------------------------- */
/*	Typography
/* --------------------------------------------------------------------------------------------- */


.editor-styles-wrapper .editor-block-list__layout a,
.editor-styles-wrapper .block-editor-block-list__layout a {
	color: var( --eksell-accent-color );
	text-decoration: underline;
	text-decoration-thickness: .1rem;
	text-underline-offset: .175em;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title {
	margin: 2.9rem auto;
	width: calc( 100% - var( --eksell-inner-gutter-compensated ) );
}

.editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input:focus {
	color: inherit;
}

.wp-block.editor-post-title:before {
	color: var( --eksell-accent-color );
	content: "";
	display: block;
	height: 1rem;
	image-rendering: pixelated;
	width: 6.6rem;
	background-image: linear-gradient( -45deg, currentColor 25%, transparent 25%, transparent 50%, currentColor 50%, currentColor 75%, transparent 75%, transparent );
	background-position: 0;
	background-size: .4rem .4rem;
}

.editor-post-title__block .editor-post-title__input,
:root .editor-styles-wrapper h1, 
:root .editor-styles-wrapper h2,
:root .editor-styles-wrapper h3,
:root .editor-styles-wrapper h4,
:root .editor-styles-wrapper h5,
:root .editor-styles-wrapper h6 {
	font-family: var( --eksell-headings-font );
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	font-weight: var( --eksell-headings-weight );
	letter-spacing: -0.02em;
	line-height: 1.25;
	margin: 4.8rem auto 3.2rem;
}

.editor-post-title__block .editor-post-title__input {
	margin: 0;
}

.editor-post-title__block .editor-post-title__input,
:root .editor-styles-wrapper h1 { font-size: 3.2rem; }
:root .editor-styles-wrapper h2 { font-size: 2.8rem; }
:root .editor-styles-wrapper h3 { font-size: 2.4rem; }
:root .editor-styles-wrapper h4 { font-size: 2.1rem; }
:root .editor-styles-wrapper h5 { font-size: 1.9rem; }
:root .editor-styles-wrapper h6 { font-size: 1em; }

:root .editor-styles-wrapper p,
:root .editor-styles-wrapper p.wp-block-paragraph {
	line-height: 1.5;
	margin-bottom: 1em;
	margin-top: 0;
}

/* Monospace --------------------------------- */

.editor-styles-wrapper code, 
.editor-styles-wrapper kbd, 
.editor-styles-wrapper pre, 
.editor-styles-wrapper samp {
	font-family: monospace;
}

.editor-styles-wrapper kbd,
.editor-styles-wrapper pre,
.editor-styles-wrapper samp {
	border-radius: 0;
	font-size: .75em;
	padding: .4rem .6rem;
}

.editor-styles-wrapper pre {
	border-radius: 0;
	line-height: 1.5;
	padding: 1em;
}

/* Custom Text Sizes ------------------------- */

.editor-styles-wrapper p.has-large-font-size.editor-rich-text__tinymce, 
.editor-styles-wrapper p.has-large-font-size.editor-rich-text__tinymce.mce-content-body,
.editor-styles-wrapper p.has-larger-font-size.editor-rich-text__tinymce, 
.editor-styles-wrapper p.has-larger-font-size.editor-rich-text__tinymce.mce-content-body {
	line-height: 1.4;
}

.editor-styles-wrapper .has-small-font-size { font-size: .888em; }
.editor-styles-wrapper .has-regular-font-size, :root .has-normal-font-size { font-size: 1em; }
.editor-styles-wrapper .has-large-font-size { font-size: 1.17647em; }
.editor-styles-wrapper .has-larger-font-size { font-size: 1.29411em; }

/* Drop Cap ---------------------------------- */

.has-drop-cap:not(:focus):first-letter {
	color: var( --eksell-accent-color );
    font-size: 5.2em;
    font-weight: 700;
	margin: .09em 1rem .5rem 0;
}

.has-drop-cap.has-text-color:not(:focus):first-letter {
	color: inherit;
}


/* --------------------------------------------------------------------------------------------- */
/*	Post Media
/* --------------------------------------------------------------------------------------------- */


.editor-styles-wrapper figure {
	margin-bottom: 0;
	margin-top: 0;
}

.editor-styles-wrapper figcaption {
	color: var( --eksell-secondary-color );
	font-size: 1.5rem;
	font-weight: 400;
	margin: .8rem auto 0 auto;
	text-align: left;
}

.editor-styles-wrapper .has-text-color figcaption {
	color: inherit;
}

.editor-styles-wrapper .editor-block-list__layout figcaption a,
.editor-styles-wrapper .block-editor-block-list__layout figcaption a {
	color: inherit;
}


/* --------------------------------------------------------------------------------------------- */
/*	Forms
/* --------------------------------------------------------------------------------------------- */


.editor-styles-wrapper fieldset {
	border: .2rem solid var( --eksell-border-color );
	padding: 2rem;
}

.editor-styles-wrapper legend {
	font-size: .85em;
	font-weight: 700;
	padding: 0 1rem;
}

.editor-styles-wrapper label {
	font-size: 1.5rem;
	font-weight: 400;
}


/* --------------------------------------------------------------------------------------------- */
/*	Blocks
/* --------------------------------------------------------------------------------------------- */


/* Block: Base Margins ----------------------- */

:root .wp-block-archives,
:root .wp-block-buttons,
:root .wp-block-calendar,
:root .wp-block-categories,
:root .wp-block-code,
:root .wp-block-columns,
:root .wp-block-cover,
:root .wp-block-cover-image,
:root .wp-block-embed,
:root .wp-block-file,
:root .wp-block-gallery,
:root .wp-block-group,
:root .wp-block-latest-comments,
:root .wp-block-latest-posts,
:root .wp-block-media-text,
:root .wp-block-preformatted,
:root .wp-block-pullquote,
:root .wp-block-quote,
:root .wp-block-quote.is-large,
:root .wp-block-quote.is-style-large,
:root .wp-block-search,
:root .wp-block-social,
:root .wp-block-table,
:root .wp-block-tag-cloud,
:root .wp-block-verse,
:root .wp-block-video {
	margin-bottom: 3.2rem;
	margin-top: 3.2rem;
}

/* Block: Nested Alignment Reset ------------- */

.wp-block-group,
.wp-block-cover,
.wp-block .wp-block-cover,
.wp-block .wp-block-group {
	max-width: var( --eksell-inner-width-thin );
}

.wp-block-group,
.wp-block-cover {
	margin-left: auto;
	margin-right: auto;
}

[data-align] > .wp-block-group,
[data-align] > .wp-block-cover {
	max-width: 100%;
}

/* Shared Block Styles ----------------------- */

.is-style-no-vertical-margin,
.is-style-no-top-margin {
	margin-top: 0 !important;
}

.is-style-no-vertical-margin,
.is-style-no-bottom-margin {
	margin-bottom: 0 !important;
}

/* Block: _Shared Table ---------------------- */

.editor-styles-wrapper table {
	border-color: var( --eksell-border-color );
	border-collapse: collapse;
    border-spacing: 0;
	color: inherit;
    empty-cells: show;
    font-size: 1.6rem;
	text-align: left;
    width: 100%;
}

.editor-styles-wrapper table th,
.editor-styles-wrapper table td,
.editor-styles-wrapper table caption {
	line-height: 1.4;
	padding: 1.2rem;
}

.editor-styles-wrapper table * {
	border-color: inherit;
	color: inherit;
}

.editor-styles-wrapper table caption {
	background-color: var( --eksell-border-color );
	font-weight: 700;
	text-align: center;
}

.editor-styles-wrapper table thead { border-bottom-width: .2rem; }
.editor-styles-wrapper table tfoot { border-top-width: .2rem; }

.editor-styles-wrapper .is-style-stripes tbody tr:nth-child(odd) {
	background-color: var( --eksell-light-background-color );
}

/* Block: _Shared Lists ---------------------- */

.editor-styles-wrapper ul.wp-block-archives,
.editor-styles-wrapper ul.wp-block-categories,
.editor-styles-wrapper ul.wp-block-latest-posts,
.editor-styles-wrapper ul.wp-block-categories__list {
	list-style: none;
	margin-right: auto;
	margin-left: auto;
	padding-left: 0;
}

.editor-styles-wrapper ul.wp-block-archives li,
.editor-styles-wrapper ul.wp-block-categories li,
.editor-styles-wrapper ul.wp-block-latest-posts li {
	line-height: 1.2;
}

.editor-styles-wrapper .wp-block-archives li > a,
.editor-styles-wrapper .wp-block-categories li > a,
.editor-styles-wrapper .wp-block-latest-posts li > a {
	font-size: 1.25em;
	font-weight: var( --eksell-headings-weight );
	text-decoration: none;
}

.editor-styles-wrapper .wp-block-archives.aligncenter,
.editor-styles-wrapper .wp-block-categories.aligncenter {
	text-align: center;
}

/* Block: Button ----------------------------- */

.wp-block-button {
	margin-top: 0;
}

.wp-block-button__link,
:root .wp-block-file .wp-block-file__button {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: var( --eksell-accent-color );
	border: none;
	border-radius: 0;
	color: var( --eksell-background-color );
	cursor: pointer;
	display: inline-flex;
	font-size: 1.6rem;
	font-weight: 700;
	justify-content: center;
	letter-spacing: 0;
	line-height: 1.25;
	margin: 0;
	padding: 1.5rem 2.4rem;
	text-align: center;
	text-decoration: none;
	text-underline-offset: .25em;
	text-decoration-thickness: .1rem;
}

.wp-block-button__link.mce-content-body {
	line-height: inherit;
}

/* BUTTON STYLE: OUTLINE */

.is-style-outline .wp-block-button__link:not(.has-text-color) {
	color: var( --eksell-accent-color );
}

.is-style-outline .wp-block-button__link,
.wp-block-button__link.is-style-outline {
    background-color: transparent;
    border: .2rem solid currentColor;
	padding: 1.3rem 2.2rem;
}

.wp-block-button__link.is-style-outline {
	color: var( --eksell-accent-color );
}

/* BUTTON STYLE: SQUARED */

.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

/* Block: Buttons ---------------------------- */

.editor-styles-wrapper .wp-block-buttons:last-child {
	margin-bottom: -1.6rem;
}

.editor-styles-wrapper .wp-block-buttons .wp-block-button {
	margin: 0 2.4rem 2.4rem 0;
}

.editor-styles-wrapper .wp-block-buttons .wp-block-button:only-child,
.editor-styles-wrapper .wp-block-buttons .wp-block-button:last-child {
	margin-right: 0;
}

.wp-block-buttons.is-content-justification-right > .wp-block-button {
	margin-left: 0;
}

/* Block: Calendar --------------------------- */

.editor-styles-wrapper .wp-block-calendar table {
	margin: 0;
	text-align: center;
}

.editor-styles-wrapper .wp-block-calendar caption {
	background-color: var( --eksell-accent-color );
	color: var( --eksell-background-color );
}

.editor-styles-wrapper .wp-block-calendar table th {
	background-color: transparent;
	font-weight: 700;
}

.editor-styles-wrapper .wp-calendar-nav {
	display: flex;
	justify-content: space-between;
	margin: 1.6rem 0 0;
}

/* Block: Columns ---------------------------- */

.wp-block-columns [data-align="full"] .wp-block-group > .wp-block-group__inner-container > .wp-block {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.wp-block-column .wp-block .wp-block-group,
.wp-block-column .wp-block .wp-block-cover {
	margin-left: auto;
	margin-right: auto;
}

:root .editor-styles-wrapper .wp-block-column h1 { font-size: 3.2rem; }
:root .editor-styles-wrapper .wp-block-column h2 { font-size: 2.8rem; }
:root .editor-styles-wrapper .wp-block-column h3 { font-size: 2.4rem; }
:root .editor-styles-wrapper .wp-block-column h4 { font-size: 2.1rem; }
:root .editor-styles-wrapper .wp-block-column h5 { font-size: 1.9rem; }

@media ( max-width: 599px ) {
	:root .wp-block-column + .wp-block-column {
		margin-top: calc( var( --eksell-inner-gutter ) / 2 );
	}
}

@media ( min-width: 600px ) and ( max-width: 781px ) {

    :root .wp-block-column:not(:only-child) {
        flex-basis: calc(50% - 1.6rem) !important;
		flex-grow: 1;
		margin: 0 0 3.2rem;
    }

    :root .wp-block-column:nth-child(2n) {
        margin-left: 3.2rem;
    }

	/* Last two when they form a full row. */

	.wp-block-column:nth-last-of-type(-n+1):nth-child(even),
	.wp-block-column:nth-last-of-type(-n+2):nth-child(odd) {
		margin-bottom: 0;
	}

}

@media ( min-width: 782px ) {

	:root .editor-styles-wrapper .block-editor-block-list__block.wp-block-column:not(:first-child) {
		margin: 0 0 0 2.4rem;
    }
}

/* Block: Cover ------------------------------ */

.editor-styles-wrapper .wp-block-cover, 
.editor-styles-wrapper .wp-block-cover-image,
.wp-block-cover-image .wp-block-cover-image-text, 
.wp-block-cover-image .wp-block-cover-text, 
.wp-block-cover-image h2, 
.wp-block-cover .wp-block-cover-image-text, 
.wp-block-cover .wp-block-cover-text, 
.wp-block-cover h2 {
	padding: 0;
}

.editor-styles-wrapper .wp-block-cover-image > .wp-block-cover__inner-container, 
.editor-styles-wrapper .wp-block-cover > .wp-block-cover__inner-container {
	margin-left: auto;
	margin-right: auto;
	max-width: var( --eksell-inner-width-max );
	width: calc( 100% - var( --eksell-inner-gutter-compensated ) );
}

.editor-styles-wrapper .wp-block-cover p {
	font-weight: inherit;
}

.editor-styles-wrapper .wp-block-cover a {
	color: inherit;
}

.editor-styles-wrapper .wp-block-cover hr.wp-block-separator:not(.has-background) {
	color: inherit; /* Inherit unless set otherwise */
}

/* Block: Embed ------------------------------ */

.editor-styles-wrapper .wp-block-embed {
	margin-bottom: 3rem;
	margin-top: 3rem;
}

.editor-styles-wrapper *[data-type*="core-embed"][data-align=center] * {
	margin-left: auto;
	margin-right: auto;
}

/* Block: File ------------------------------- */

.editor-styles-wrapper .wp-block-file {
	background-color: var( --eksell-light-background-color );
	padding: 2.4rem;
	text-align: center;
	width: 100%;
}

.editor-styles-wrapper .wp-block-file__content-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.editor-styles-wrapper .wp-block-file__content-wrapper > *:first-child {
    margin: 0 1rem 0 0;
}

.editor-styles-wrapper .wp-block-file__content-wrapper > *:only-child {
    margin: 0;
}

.editor-styles-wrapper .wp-block-file .wp-block-file__textlink {
	color: inherit;
	font-weight: 700;
	text-align: left;
	text-decoration: none;
}

.editor-styles-wrapper .wp-block-file .wp-block-file__button-richtext-wrapper {
	flex-shrink: 0;
}

.editor-styles-wrapper .wp-block-file .wp-block-file__button {
	width: 100%;
}

/* STYLE: ALIGN LEFT/RIGHT */

.wp-block-file.alignleft .wp-block-file__content-wrapper,
.wp-block-file.alignright .wp-block-file__content-wrapper {
	display: block;
	text-align: center;
}

.wp-block-file.alignright .wp-block-file__button,
.wp-block-file.alignleft .wp-block-file__button {
	width: 100%;
	margin: 1.6rem 0 0;
}

/* Block: Gallery ---------------------------- */

.block-editor-block-list__block[data-type="core/gallery"] {
	margin-bottom: 0;
	margin-top: 0;
}

.blocks-gallery-grid .blocks-gallery-image figure, 
.blocks-gallery-grid .blocks-gallery-item figure, 
.wp-block-gallery .blocks-gallery-image figure, 
.wp-block-gallery .blocks-gallery-item figure {
	justify-content: center;
}

.wp-block-gallery figure > a {
	width: 100%;
}

.blocks-gallery-grid .blocks-gallery-image figcaption, 
.blocks-gallery-grid .blocks-gallery-item figcaption, 
.wp-block-gallery .blocks-gallery-image figcaption, 
.wp-block-gallery .blocks-gallery-item figcaption {
	align-items: center;
	background: #1e2d32;
	border-radius: .4rem;
	bottom: 1.6rem;
	color: #fff;
	font-size: 1.4rem;
	left: auto;
	max-height: calc( 100% - 3.2rem );
	max-width: calc( 100% - 3.2rem );
	padding: .5rem 1.2rem;
	width: auto;
}

@media ( min-width: 600px ) {

	.wp-block-gallery > .blocks-gallery-grid { 
		margin-bottom: -2.4rem; 
	}
	
	:root .wp-block-gallery .blocks-gallery-item { 
		margin: 0 2.4rem 2.4rem 0; 
	}

	.wp-block-gallery > figcaption {
		margin-top: .8rem;
	}

	:root .wp-block-gallery .blocks-gallery-item:last-child {
		margin-right: 0;
	}

	.wp-block-gallery .blocks-gallery-item { 			width: calc( 50% - ( ( 2.4rem * 1 ) / 2 ) ); }
	.wp-block-gallery.columns-3 .blocks-gallery-item { 	width: calc( 33.33333% - ( ( 2.4rem * 2 ) / 3 ) ); }
	.wp-block-gallery.columns-4 .blocks-gallery-item { 	width: calc( 25% - ( ( 2.4rem * 3 ) / 4 ) ); }
	.wp-block-gallery.columns-5 .blocks-gallery-item { 	width: calc( 20% - ( ( 2.4rem * 4 ) / 5 ) ); }
	.wp-block-gallery.columns-6 .blocks-gallery-item { 	width: calc( 16.66667% - ( ( 2.4rem * 5 ) / 6 ) ); }
	.wp-block-gallery.columns-7 .blocks-gallery-item { 	width: calc( 14.28571% - ( ( 2.4rem * 6 ) / 7 ) ); }
	.wp-block-gallery.columns-8 .blocks-gallery-item { 	width: calc( 12.5% - ( ( 2.4rem * 7 ) / 8 ) ); }

}

/* Block: Group ------------------------------ */

:root .wp-block-group.has-background {
	padding: calc( var( --eksell-inner-gutter ) / 2 );
}

.wp-block-group__inner-container {
	margin-left: auto;
	margin-right: auto;
	max-width: var( --eksell-inner-width-max );
}

:root .wp-block-group.has-background > .wp-block-group__inner-container > [data-align=full] {
	margin-left: auto;
	width: 100%;
}

/* Block: Heading ---------------------------- */

.editor-styles-wrapper h1.has-background, 
.editor-styles-wrapper h2.has-background, 
.editor-styles-wrapper h3.has-background, 
.editor-styles-wrapper h4.has-background, 
.editor-styles-wrapper h5.has-background, 
.editor-styles-wrapper h6.has-background {
	padding: calc( var( --eksell-inner-gutter ) / 2 );
}

/* Block: Image ------------------------------ */

.editor-styles-wrapper .wp-block-image {
	margin-bottom: 3.2rem;
	margin-top: 3.2rem;
}

.editor-styles-wrapper .wp-block-image > .components-resizable-box__container {
	margin-bottom: -.7rem;
}

.editor-styles-wrapper .wp-block-image img {
	display: block;
}

.editor-styles-wrapper .wp-block-image figcaption {
	margin-bottom: 0;
	margin-top: .4rem;
}

/* Block: Latest Comments -------------------- */

.editor-styles-wrapper ol.wp-block-latest-comments {
	margin-left: 0;
	padding-left: 0;
}

.editor-styles-wrapper .wp-block-latest-comments li.wp-block-latest-comments__comment {
	font-size: inherit;
	margin-bottom: 2rem;
}

.editor-styles-wrapper .wp-block-latest-comments li.wp-block-latest-comments__comment:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper .wp-block-latest-comments__comment-meta,
.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt {
	margin-left: 0 !important;
}

.editor-styles-wrapper .wp-block-latest-comments__comment-meta {
	font-weight: var( --eksell-headings-weight );
}

.editor-styles-wrapper .wp-block-latest-comments__comment-meta a {
	text-decoration: none;
}

.editor-styles-wrapper .wp-block-latest-comments time {
	color: var( --eksell-secondary-color );
	display: block;
	font-size: .9em;
	font-weight: 400;
	margin-top: .2rem;
}

/* HAS AVATAR */

.editor-styles-wrapper .wp-block-latest-comments.has-avatars .wp-block-latest-comments__comment {
	display: flex;
}

.editor-styles-wrapper .wp-block-latest-comments.has-avatars img.avatar {
	margin-right: 1.4rem;
}

/* HAS EXCERPT */

.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt {
	font-size: .9em;
	line-height: inherit;
	margin: .36em 0 0;
}

.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt p:first-child { margin-top: 0; }
.editor-styles-wrapper .wp-block-latest-comments__comment-excerpt p:last-child { margin-bottom: 0; }


/* Block: Latest Posts ----------------------- */

.editor-styles-wrapper .wp-block-latest-posts li > a {
	display: block;
}

.editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__featured-image {
	margin-bottom: 1.2rem;
}

.editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-author, 
.editor-styles-wrapper .wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: var( --eksell-secondary-color );
	display: inline-block;
	font-size: 1.6rem;
	margin: 1rem 1.6rem 0 0;
}

.editor-styles-wrapper .wp-block-latest-posts__post-excerpt {
	line-height: 1.4;
	margin: 1.2rem 0 0;
}

.editor-styles-wrapper .wp-block-latest-posts__featured-image:not(.aligncenter) a,
.editor-styles-wrapper .wp-block-latest-posts__featured-image:not(.aligncenter) img {
	width: 100%;
}

/* STYLE: LIST */

.editor-styles-wrapper .wp-block-latest-posts:not(.is-grid) li {
	margin: 2.4rem 0 0;
}

/* STYLE: GRID */

.editor-styles-wrapper .wp-block-latest-posts.is-grid li {
	border-color: var( --eksell-border-color );
	margin-bottom: 2.4rem;
}

.editor-styles-wrapper ul.wp-block-latest-posts.is-grid li {
	border-style: solid;
	border-width: .1rem 0 0;
	padding-top: 1.6rem;
}

.editor-styles-wrapper .wp-block-latest-posts__post-excerpt {
	font-size: .95em;
	line-height: 1.4;
	margin-top: 1.5rem;
}

@media ( min-width: 600px ) {

	.editor-styles-wrapper .wp-block-latest-posts.is-grid li {
		margin-bottom: 3.2rem;
	}

}

/* Block: Media and Text --------------------- */

.editor-styles-wrapper .wp-block-media-text .wp-block-media-text__content {
	padding: calc( var( --eksell-inner-gutter ) / 2 );
}

.editor-styles-wrapper .wp-block-media-text .wp-block-media-text__content > *:not([data-align]):not(.wp-block-group):not(.wp-block-cover) {
	margin-left: 0;
	margin-right: 0;
}

.editor-styles-wrapper .wp-block-media-text > .block-editor-block-list__layout > .wp-block.wp-block-group:not([data-align="wide"]):not([data-align="full"]),
.editor-styles-wrapper .wp-block-media-text > .block-editor-block-list__layout > .wp-block:not([data-align="wide"]):not([data-align="full"]) > .wp-block-group,
.editor-styles-wrapper .wp-block-media-text > .block-editor-block-list__layout > .wp-block.wp-block-cover:not([data-align="wide"]):not([data-align="full"]),
.editor-styles-wrapper .wp-block-media-text > .block-editor-block-list__layout > .wp-block:not([data-align="wide"]):not([data-align="full"]) > .wp-block-cover {
	max-width: var( --eksell-inner-width-thin );
}

/* Block: Paragraph -------------------------- */

.editor-styles-wrapper p.has-background {
	padding: calc( var( --eksell-inner-gutter ) / 2 );
}

/* Block: Pullquote -------------------------- */

.editor-styles-wrapper .wp-block-pullquote {
	border: none;
	color: inherit;
	font-size: 2.8rem;
	margin-bottom: 3.2rem;
	margin-top: 3.2rem;
	padding: 0;
}

.editor-styles-wrapper .wp-block-pullquote blockquote {
	padding: 1.45em 0 0;
	position: relative;
}

.editor-styles-wrapper .wp-block-pullquote blockquote:before {
	content: "“";
	display: block;
	font-size: 3em;
	font-weight: 700;
	height: .33em;
	line-height: .75;
	position: absolute;
	left: -.2rem;
	top: 0;
}

.editor-styles-wrapper .wp-block-pullquote blockquote:not(.has-text-color):before {
	color: var( --eksell-accent-color );
}

.editor-styles-wrapper .wp-block-pullquote,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote {
	text-align: left;
}

.editor-styles-wrapper .wp-block-pullquote.alignleft,
.editor-styles-wrapper .wp-block-pullquote.alignright {
	max-width: 50%;
}

.editor-styles-wrapper .wp-block-pullquote p {
	font-size: inherit;
	font-weight: 700;
	line-height: 1.25;
	margin-bottom: 2rem;
}

.editor-styles-wrapper * .wp-block-pullquote p,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote > .block-editor-rich-text p,
.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote p,
.editor-styles-wrapper [data-align=right] > .wp-block-pullquote p,
.editor-styles-wrapper [data-align=left] > .wp-block-pullquote p {
	font-size: inherit;
}

.editor-styles-wrapper .wp-block-pullquote__citation, 
.editor-styles-wrapper .wp-block-pullquote cite, 
.editor-styles-wrapper .wp-block-pullquote footer {
	font-size: 1.6rem;
	font-weight: 700;
	margin: 2rem 0 0;
	text-transform: none;
}

.editor-styles-wrapper blockquote:not(.has-text-color) .wp-block-pullquote__citation, 
.editor-styles-wrapper .wp-block-pullquote blockquote:not(.has-text-color) cite, 
.editor-styles-wrapper .wp-block-pullquote blockquote:not(.has-text-color) footer {
	color: var( --eksell-accent-color );
}

/* STYLE: DEFAULT */

.editor-styles-wrapper .wp-block-pullquote.is-style-default {
	background-color: transparent !important;
}

/* STYLE: SOLID COLOR */

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.has-background {
	padding: 2.4rem;
}

.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 100%;
}

/* Block: Quote ------------------------------ */

.editor-styles-wrapper blockquote {
	margin: 0 auto;
}

.editor-styles-wrapper blockquote p:first-of-type { margin-top: 0; }
.editor-styles-wrapper blockquote p:last-of-type { margin-bottom: 0; }

.editor-styles-wrapper .wp-block-quote {
	border-color: var( --eksell-accent-color ) !important;
	border-style: solid;
	border-width: 0 0 0 .2rem;
	color: inherit;
	margin: 3.2rem auto;
	padding: 0 0 0 2rem;
}

.editor-styles-wrapper .wp-block-quote.has-text-align-center, 
.editor-styles-wrapper .wp-block-quote[style*="text-align:center"], 
.editor-styles-wrapper .wp-block-quote[style*="text-align: center"] {
	border-width: 0;
	padding: 0;
}

.editor-styles-wrapper .wp-block-quote.has-text-align-right, 
.editor-styles-wrapper .wp-block-quote[style*="text-align:right"], 
.editor-styles-wrapper .wp-block-quote[style*="text-align: right"] {
	border-width: 0 .2rem 0 0;
	padding: 0 2rem 0 0;
}

.editor-styles-wrapper cite,
.editor-styles-wrapper .wp-block-quote__citation, 
.editor-styles-wrapper .wp-block-quote cite, 
.editor-styles-wrapper .wp-block-quote footer {
	color: var( --eksell-accent-color );
	font-size: 1.6rem;
	font-weight: 700;
	margin: 2rem 0 0;
}

.editor-styles-wrapper .wp-block-quote p {
	color: inherit;
	font-weight: 400;
	margin: 0 0 2rem 0;
}

.editor-styles-wrapper .wp-block-quote p:last-of-type {
	margin-bottom: 0;
}

/* STYLE: LARGE */

.editor-styles-wrapper .wp-block-quote.is-style-large {
	font-size: 2.1rem;
}

.editor-styles-wrapper .wp-block-quote.is-style-large p {
	font-size: inherit;
	font-style: normal;
	line-height: 1.5;
}

/* Block: RSS -------------------------------- */

.editor-styles-wrapper .wp-block[data-type="core/rss"] {
	margin-left: auto;
	margin-right: auto;
}

.editor-styles-wrapper .wp-block-rss {
	padding-left: 0;
}

/* Block: Separator -------------------------- */

.editor-styles-wrapper hr.wp-block-separator {
	background-color: transparent !important;
	background-image: linear-gradient( -45deg, currentColor 25%, transparent 25%, transparent 50%, currentColor 50%, currentColor 75%, transparent 75%, transparent );
	background-position: 0;
    background-size: .4rem .4rem;
	border: none;
	color: var( --eksell-border-color );
	height: 1rem;
	image-rendering: pixelated;
	margin: 3.2rem auto;
	opacity: 1;
}

.editor-styles-wrapper hr.wp-block-separator,
.editor-styles-wrapper .wp-block-separator.has-background:not(.is-style-dots) {
	height: 1rem;
}

.editor-styles-wrapper .wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 16rem;
}

/* STYLE: LEFT ALIGNED */

.editor-styles-wrapper hr.wp-block-separator.is-style-left-aligned { 
	margin-left: 0; 
}

.editor-styles-wrapper .is-root-container > hr.wp-block-separator.is-style-left-aligned {
	border-right: calc( var( --eksell-inner-width-thin ) - 16rem ) solid var( --eksell-background-color );
	box-sizing: content-box;
	margin-left: auto;
}

@media ( max-width: 700px ) {
	.editor-styles-wrapper .is-root-container > hr.wp-block-separator.is-style-left-aligned {
		border-right-width: calc( 100vw - 5rem - 16rem );
	}
}

/* STYLE: RIGHT ALIGNED */

.editor-styles-wrapper hr.wp-block-separator.is-style-right-aligned { 
	margin-right: 0; 
}

.editor-styles-wrapper .is-root-container > hr.wp-block-separator.is-style-right-aligned {
	border-left: calc( var( --eksell-inner-width-thin ) - 16rem ) solid var( --eksell-background-color );
	box-sizing: content-box;
	margin-right: auto;
}

@media ( max-width: 700px ) {
	.editor-styles-wrapper .is-root-container > hr.wp-block-separator.is-style-right-aligned {
		border-left-width: calc( 100vw - 5rem - 16rem );
	}
}

/* STYLE: DOTS */

.editor-styles-wrapper .wp-block-separator.is-style-dots {
	height: auto;
}

/* Block: Social ----------------------------- */

.wp-block-social-links {
	align-items: flex-start;
}

:root .editor-styles-wrapper .wp-block-social-links .wp-social-link {
	margin: 0 1.2rem 1.2rem 0;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
	width: auto;
}

.editor-styles-wrapper .wp-block-social-links:not([class*="is-content-justification-"]).aligncenter .wp-social-link {
	margin: 0 .6rem 1.2rem .6rem;
}

.editor-styles-wrapper .wp-block-social-links:not([class*="is-content-justification-"]).alignright .wp-social-link {
	margin: 0 0 1.2rem 1.2rem;
}

/* STYLE: ONLY LOGOS */

.editor-styles-wrapper .wp-block-social-links[class*="is-style-logos-only"] .wp-social-link { 
	background: none;
	height: 4rem;
	margin: 0 1.6rem 1.6rem 0; 
	padding: 0;
}

.editor-styles-wrapper .wp-block-social-links[class*="is-style-logos-only"].has-normal-icon-size,
.editor-styles-wrapper .wp-block-social-links[class*="is-style-logos-only"]:not([class*="-icon-size"]) {
	font-size: 2.8rem;
}

.editor-styles-wrapper .wp-block-social-links:not([class*="is-content-justification-"])[class*="is-style-logos-only"].aligncenter .wp-social-link { margin: 0 .8rem 1.6rem .8rem; }
.editor-styles-wrapper .wp-block-social-links:not([class*="is-content-justification-"])[class*="is-style-logos-only"].alignright .wp-social-link { margin: 0 0 1.6rem 1.6rem; }

.editor-styles-wrapper .wp-block-social-links[class*="is-style-logos-only"] .wp-social-link button {
	padding: 0;
}

/* STYLE: INHERITED ICON COLOR */

.editor-styles-wrapper .wp-block-social-links.is-style-logos-only-monochrome .wp-social-link {
	color: inherit;
}

/* Block: Spacer ----------------------------- */

.editor-styles-wrapper .wp-block-spacer,
.wp-block-spacer .block-library-spacer__resize-container {
	margin-bottom: 0;
	margin-top: 0;
}

/* Block: Table ------------------------------ */

.editor-styles-wrapper .wp-block-calendar table caption, 
.editor-styles-wrapper .wp-block-calendar table tbody {
	color: inherit;
}

/* STYLE: STRIPES */

.editor-styles-wrapper .wp-block-table.is-style-stripes {
	border: none;
}

/* Block: Tag Cloud -------------------------- */

.editor-styles-wrapper .wp-block-tag-cloud {
	font-weight: 700;
}

.editor-styles-wrapper .wp-block-tag-cloud a {
	margin-right: .8rem;
	text-decoration: none;
}

/* Block: Verse ------------------------------ */

.editor-styles-wrapper .wp-block-verse pre, 
.editor-styles-wrapper pre.wp-block-verse {
	font-size: 0.75em;
}


/* -------------------------------------------------------------------------------- */
/*	Media Queries
/* -------------------------------------------------------------------------------- */


@media ( min-width: 700px ) {

	/* Setup --------------------------------- */

	:root {
		--eksell-inner-gutter: 9.6rem;
		--eksell-inner-gutter-compensated: 7.6rem;
	}

	/* Structure ----------------------------- */

	.editor-styles-wrapper > * {
		font-size: 1.8rem;
	}

	.editor-styles-wrapper *[data-align="center"] {
		margin-bottom: 4.8rem;
		margin-top: 4.8rem;
	}

	:root .editor-styles-wrapper .wp-block[data-align=left] > *,
	:root .editor-styles-wrapper .alignleft {
		margin: 0 3.2rem 3.2rem 0;
	}

	:root .editor-styles-wrapper .wp-block[data-align=right] > *,
	:root .editor-styles-wrapper .alignright {
		margin: 0 0 3.2rem 3.2rem;
	}

	.editor-styles-wrapper *[data-align="wide"],
	.editor-styles-wrapper *[data-align="full"] {
		margin-bottom: 6.4rem;
		margin-top: 6.4rem;
	}

	.editor-styles-wrapper *[data-align="full"] + *[data-align="full"] {
		margin-top: -6.4rem;
	}

	/* Typography ---------------------------- */

	.edit-post-visual-editor__post-title-wrapper .editor-post-title {
		margin: 4.5rem auto;
	}

	:root .editor-styles-wrapper h1, 
	:root .editor-styles-wrapper h2,
	:root .editor-styles-wrapper h3,
	:root .editor-styles-wrapper h4,
	:root .editor-styles-wrapper h5,
	:root .editor-styles-wrapper h6 {
		margin-top: 6.4rem;
	}

	.editor-post-title__block .editor-post-title__input,
	:root .editor-styles-wrapper h1 { font-size: 4.8rem; }
	:root .editor-styles-wrapper h2 { font-size: 4.0rem; }
	:root .editor-styles-wrapper h3 { font-size: 3.2rem; }
	:root .editor-styles-wrapper h4 { font-size: 2.8rem; }
	:root .editor-styles-wrapper h5 { font-size: 2.4rem; }

	.editor-styles-wrapper figcaption {
		font-size: 1.6rem;
	}

	/* CUSTOM TEXT SIZES */

	.editor-styles-wrapper .has-large-font-size { font-size: 1.333em; }
	.editor-styles-wrapper .has-larger-font-size { font-size: 1.777em; }

	/* Forms --------------------------------- */

	.editor-styles-wrapper fieldset {
		padding: 3.2rem;
	}

	.editor-styles-wrapper legend {
		padding: 0 1.6rem;
	}

	/* Blocks -------------------------------- */

	/* BLOCK: BASE MARGINS */

	:root .wp-block-archives,
	:root .wp-block-calendar,
	:root .wp-block-categories,
	:root .wp-block-code,
	:root .wp-block-columns,
	:root .wp-block-cover,
	:root .wp-block-cover-image,
	:root .wp-block-embed,
	:root .wp-block-file,
	:root .wp-block-gallery,
	:root .wp-block-group,
	:root .wp-block-latest-comments,
	:root .wp-block-latest-posts,
	:root .wp-block-media-text,
	:root .wp-block-preformatted,
	:root .wp-block-pullquote,
	:root .wp-block-quote,
	:root .wp-block-quote.is-large,
	:root .wp-block-quote.is-style-large,
	:root .wp-block-search,
	:root .wp-block-social,
	:root .wp-block-table,
	:root .wp-block-tag-cloud,
	:root .wp-block-verse,
	:root .wp-block-video {
		margin-bottom: 4.8rem;
		margin-top: 4.8rem;
	}

	/* BLOCK: COLUMNS */

	.wp-block-columns[data-align="full"] {
		padding: 0 2.4rem;
	}

	.wp-block-column {
		font-size: 1.6rem;
    }

	:root .wp-block-column h1, 
	:root .wp-block-column h2, 
	:root .wp-block-column h3, 
	:root .wp-block-column h4, 
	:root .wp-block-column h5, 
	:root .wp-block-column h6 {
		margin-bottom: 2.4rem;
		margin-top: 4rem;
	}

	.wp-block-column .wp-block-cover,
	.wp-block-column .wp-block-group {
		margin-bottom: 3.2rem;
		margin-top: 3.2rem;
	}

	/* BLOCK: COVER */

	.editor-styles-wrapper .wp-block-cover-image > .wp-block-cover__inner-container, 
	.editor-styles-wrapper .wp-block-cover > .wp-block-cover__inner-container {
		width: calc( 100% - 9.6rem );
	}

	/* BLOCK: GROUP */

	:root .wp-block-group.has-background,
	[data-align=full] .wp-block-group>.wp-block-group__inner-container>.wp-block.wp-block-group.has-background {
		padding: 4.8rem;
	}

	/* BLOCK: HEADING */

	.editor-styles-wrapper h1.has-background, 
	.editor-styles-wrapper h2.has-background, 
	.editor-styles-wrapper h3.has-background, 
	.editor-styles-wrapper h4.has-background, 
	.editor-styles-wrapper h5.has-background, 
	.editor-styles-wrapper h6.has-background {
		padding: 4.8rem;
	}

	/* BLOCK: IMAGE */

	.editor-styles-wrapper .wp-block-image {
		margin-bottom: 4.8rem;
		margin-top: 4.8rem;
	}

	/* BLOCK: LATEST POSTS */

	:root .wp-block-latest-posts .wp-block-latest-posts__featured-image.alignleft,
	:root .wp-block-latest-posts .wp-block-latest-posts__featured-image.alignright {
		margin-bottom: 1.6rem;
		max-width: min( 33.33%, 16rem );
	}

	:root .wp-block-latest-posts .wp-block-latest-posts__featured-image.alignleft { margin-right: 1.6rem; }
	:root .wp-block-latest-posts .wp-block-latest-posts__featured-image.alignright { margin-left: 1.6rem; }

	/* BLOCK: MEDIA AND TEXT */

	.editor-styles-wrapper .wp-block-media-text .wp-block-media-text__content {
		padding: 4.8rem;
	}

	.wp-block-media-text:not(.has-background) .wp-block-media-text__content {
		padding-bottom: 0;
		padding-top: 0;
	}

	/* BLOCK: PARAGRAPH */

	.editor-styles-wrapper p.has-background {
		padding: 4.8rem;
	}

	/* BLOCK: PULLQUOTE */

	.editor-styles-wrapper .wp-block-pullquote {
		font-size: 3.2rem;
	}

	.editor-styles-wrapper [data-align="wide"] > .wp-block-pullquote blockquote, 
	.editor-styles-wrapper [data-align="full"] > .wp-block-pullquote blockquote {
		font-size: 4.8rem;
	}

	/* Style: Solid Background Color */

	.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.has-background {
		padding: 4.8rem;
	}

	.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.has-background blockquote {
		padding-top: 1.6em;
	}

	.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.has-background .wp-block-pullquote__citation, 
	.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.has-background .wp-block-pullquote cite, 
	.editor-styles-wrapper .wp-block-pullquote.is-style-solid-color.has-background .wp-block-pullquote footer {
		margin-top: 2.4rem;
	}

	/* BLOCK: QUOTE */

	.editor-styles-wrapper .wp-block-quote {
		padding-left: 2.5rem;
	}

	.editor-styles-wrapper .wp-block-quote.is-style-large {
		font-size: 2.4rem;
	}

	/* BLOCK: SEPARATOR */

	.editor-styles-wrapper hr.wp-block-separator {
		margin-bottom: 4.8rem;
		margin-top: 4.8rem;
	}

}

@media ( min-width: 1000px ) {

	/* Structure ----------------------------- */
	/* Blocks -------------------------------- */

	/* BLOCK: COLUMNS */

	.wp-block-column {
		font-size: 1.8rem;
    }

	:root .editor-styles-wrapper .block-editor-block-list__block.wp-block-column:not(:first-child) {
		margin: 0 0 0 3.2rem;
    }

	/* BLOCK: GALLERY */

	.alignfull.wp-block-gallery > .blocks-gallery-grid,
	.alignwide.wp-block-gallery > .blocks-gallery-grid { 
		margin-bottom: -3.2rem; 
	}

	.alignfull.wp-block-gallery .blocks-gallery-item,
	.alignwide.wp-block-gallery .blocks-gallery-item {
		margin: 0 3.2rem 3.2rem 0;
	}

	.alignfull.wp-block-gallery .blocks-gallery-item, 
	.alignwide.wp-block-gallery .blocks-gallery-item { width: calc( 50% - ( ( 1 * 3.2rem ) / 2 ) ); }
	.alignfull.wp-block-gallery.columns-3 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-3 .blocks-gallery-item { width: calc( 33.33333% - ( ( 2 * 3.2rem ) / 3 ) ); }
	.alignfull.wp-block-gallery.columns-4 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-4 .blocks-gallery-item { width: calc( 25% - ( ( 3 * 3.2rem ) / 4 ) ); }
	.alignfull.wp-block-gallery.columns-5 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-5 .blocks-gallery-item { width: calc( 20% - ( ( 4 * 3.2rem ) / 5 ) ); }
	.alignfull.wp-block-gallery.columns-6 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-6 .blocks-gallery-item { width: calc( 16.66667% - ( ( 5 * 3.2rem ) / 6 ) ); }
	.alignfull.wp-block-gallery.columns-7 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-7 .blocks-gallery-item { width: calc( 14.28571% - ( ( 6 * 3.2rem ) / 7 ) ); }
	.alignfull.wp-block-gallery.columns-8 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-8 .blocks-gallery-item { width: calc( 12.5% - ( ( 7 * 3.2rem ) / 8 ) ); }

	/* BLOCK: LATEST POSTS */

	.wp-block[data-align="full"] > .wp-block-latest-posts.is-grid li,
	.wp-block[data-align="wide"] > .wp-block-latest-posts.is-grid li {
		margin-bottom: 4.8rem;
		padding-top: 2.4rem;
	}

	.wp-block[data-align="full"] > .wp-block-latest-posts.is-grid .wp-block-latest-posts__featured-image,
	.wp-block[data-align="wide"] > .wp-block-latest-posts.is-grid .wp-block-latest-posts__featured-image {
		margin-bottom: 2.1rem;
	}

}

@media ( min-width: 1200px ) {

	/* Setup --------------------------------- */

	:root {
		--eksell-inner-gutter: 12.8rem;
		--eksell-inner-gutter-compensated: 10.8rem;
	}

	/* Blocks -------------------------------- */

	/* BLOCK: COLUMNS */

	:root .editor-styles-wrapper .wp-block-column h1 { font-size: 4.0rem; }
	:root .editor-styles-wrapper .wp-block-column h2 { font-size: 3.6rem; }
	:root .editor-styles-wrapper .wp-block-column h3 { font-size: 2.8rem; }
	:root .editor-styles-wrapper .wp-block-column h4 { font-size: 2.4rem; }
	:root .editor-styles-wrapper .wp-block-column h5 { font-size: 2.1rem; }

	/* BLOCK: GROUP */

	.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] > .wp-block-group.has-background {
		padding: 6.4rem calc( var( --eksell-inner-gutter-compensated ) / 2 );
	}

}

@media ( min-width: 1600px ) {

	/* Setup --------------------------------- */

	:root {
		--eksell-inner-gutter: 19.2rem;
		--eksell-inner-gutter-compensated: 17.2rem;
	}

	/* Blocks -------------------------------- */

	/* BLOCK: COLUMNS */

	:root .editor-styles-wrapper .block-editor-block-list__block.wp-block-column:not(:first-child) {
		margin: 0 0 0 4.8rem;
    }

	:root .editor-styles-wrapper .wp-block-column h1 { font-size: 4.8rem; }
	:root .editor-styles-wrapper .wp-block-column h2 { font-size: 4.0rem; }
	:root .editor-styles-wrapper .wp-block-column h3 { font-size: 3.2rem; }
	:root .editor-styles-wrapper .wp-block-column h4 { font-size: 2.8rem; }
	:root .editor-styles-wrapper .wp-block-column h5 { font-size: 2.4rem; }

	/* BLOCK: GALLERY */

	.alignfull.wp-block-gallery > .blocks-gallery-grid,
	.alignwide.wp-block-gallery > .blocks-gallery-grid { 
		margin-bottom: -4.8rem; 
	}

	.alignfull.wp-block-gallery .blocks-gallery-item,
	.alignwide.wp-block-gallery .blocks-gallery-item {
		margin: 0 4.8rem 4.8rem 0;
	}

	.alignfull.wp-block-gallery .blocks-gallery-item, 
	.alignwide.wp-block-gallery .blocks-gallery-item { width: calc( 50% - ( ( 1 * 4.8rem ) / 2 ) ); }
	.alignfull.wp-block-gallery.columns-3 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-3 .blocks-gallery-item { width: calc( 33.33333% - ( ( 2 * 4.8rem ) / 3 ) ); }
	.alignfull.wp-block-gallery.columns-4 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-4 .blocks-gallery-item { width: calc( 25% - ( ( 3 * 4.8rem ) / 4 ) ); }
	.alignfull.wp-block-gallery.columns-5 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-5 .blocks-gallery-item { width: calc( 20% - ( ( 4 * 4.8rem ) / 5 ) ); }
	.alignfull.wp-block-gallery.columns-6 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-6 .blocks-gallery-item { width: calc( 16.66667% - ( ( 5 * 4.8rem ) / 6 ) ); }
	.alignfull.wp-block-gallery.columns-7 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-7 .blocks-gallery-item { width: calc( 14.28571% - ( ( 6 * 4.8rem ) / 7 ) ); }
	.alignfull.wp-block-gallery.columns-8 .blocks-gallery-item, 
	.alignwide.wp-block-gallery.columns-8 .blocks-gallery-item { width: calc( 12.5% - ( ( 7 * 4.8rem ) / 8 ) ); }

}